{{set . "title" "DashPersonal"}}
{{template "header.html" .}}

<h1>DashPersonal @javaguirre&nbsp;<button id="add-block">Add new block</button></h1>

<div class="demo">
    <div class="gridster">
        <ul>
            {{ range .widgets}}
                <li data-row="{{ .Row }}" data-col="{{ .Col }}"
                    data-sizex="{{ .Sizex }}" data-sizey="{{ .Sizey }}">
                    {{ .Content }}
                </li>
            {{ end }}
        </ul>
    </div>
</div>

<script src="/public/js/vendor/jquery/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/js/vendor/gridster/dist/jquery.gridster.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/js/controller.js" type="text/javascript" charset="utf-8"></script>

<script>
    $(function() {
        var gridster = $(".gridster ul").gridster({
            widget_margins: [10, 10],
            widget_base_dimensions: [140, 140]
        }).data('gridster');
        //gridster.add_widget('<li class="new">The HTML of the widget...</li>', 2, 1);
    });
</script>

{{template "footer.html" .}}
